<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Properties>
        <Property name="flogger.use_backend_cache">true</Property>
        <Property name="flogger.backend_naming.use_system_roots">true</Property>
        <Property name="flogger.backend_naming.retain_at_most">4</Property>
        <!-- -->
        <Property name="flogger.message_formatter.pattern">%{timestamp} %{level}[%{location}] %{key.xxx/(Foo:/) }%{message}%{metadata/ [/]}</Property>
        <Property name="flogger.message_formatter.metadata.key.xxx">net.goui.flogger.backend.log4j.Log4jBackendFactoryTest$Key#FOO</Property>
        <Property name="flogger.message_formatter.metadata.ignore">@myapp.ignored_keys</Property>
        <!-- -->
        <Property name="myapp.ignored_keys.size">3</Property>
        <Property name="myapp.ignored_keys.0">com.google.common.flogger.LogContext$Key#LOG_EVERY_N</Property>
        <Property name="myapp.ignored_keys.1">com.google.common.flogger.LogContext$Key#LOG_AT_MOST_EVERY</Property>
        <Property name="myapp.ignored_keys.2">net.goui.flogger.backend.log4j.Log4jBackendFactoryTest$Key#BAR</Property>
    </Properties>
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- Tests in this module rely on just seeing the Flogger message logged. -->
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="error" additivity="false">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="net.goui.flogger.backend" level="info" additivity="false"/>
        <Logger name="net.goui.flogger.backend.warning" level="warn" additivity="false"/>
    </Loggers>
</Configuration>